output/
target/
.settings/
/apwais/nb-configuration.xml
.gradle/
build/
docs/html
docs/pdf
.classpath
.project
*.log
*.iml
.idea/
apwais-dbSync/overlays/
bower_components/
node_modules/
apwais/reports/